:root {
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

h1, h2, h3 {
    color: var(--bs-white) !important;
}

.icon-18 {
    width: 18px;
    height: 18px;
    margin-bottom: 4px;
}

code {
    color: var(--bs-info) !important;
}